<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
   <default>
       <gomagefe_footer>
           <general>
               <gomagefe_footer_enabled>1</gomagefe_footer_enabled>
           </general>
       </gomagefe_footer>
   </default>
</config>